* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2d3c49;
}

/* Header */
h1 {
  /* Disables h1 default bold styling */
  font-weight: 200;
  font-size: 6rem;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: right;
}

h4 {
  font-size: 1.8rem;
}

header h4 {
  margin-top: 5px;
}

/* Top content */
header {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 1em;
  align-items: center;
}

/* logo img */
.logo {
  height: 90px;
  width: auto;
  margin-right: auto;
}

.job-title {
  display: flex;
  justify-content: flex-end;
}

/* Divider line/top image */
hr {
  background-color: #7d97ad;
  max-width: 1000px;
  margin-bottom: 1em;
  border: none;
  height: 3px;
}

.main-image {
  max-width: 700px;
  height: auto;
  margin-bottom: 1.5em;

}

/* Applies to content within <main> element */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* Project section */
.project-header {
  width: 100%;
  text-align: center;
  color: #7d97ad;
}

/* Gallery Section */
.container-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}

/* Div containing single project's title, image, text */
.project {
  width: 300px;
  height: auto;
}

.project p, h3 {
  text-align: center;
}

.project-image {
  width: 300px;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.project-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* Media queries for different screen sizes from large to small */

/* Small laptops */
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 6rem;
  }
  h4 {
    font-size: 1.8rem;
  }
}

/* Tablets */
@media screen and (max-width: 991px) {
  h1 {
    font-size: 5rem;
  }

  h3 {
  font-size: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
  }
  /* Div containing single project's title, image, text */
  .project {
    width: 235px;
    height: auto;
    /* Top, left/right, bottom. Centers projects (aligned left otherwise) */
    margin: 0 auto 1.2em;
  }

  .project-image {
    width: 215px;
    height: auto;
  }
}

/* Small devices */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.8em;
  }

  h2 {
  font-size: 1.5em;
  }

  h3 {
  font-size: 1.1em;
  }

  h4 {
    font-size: 0.9em;
  }

  .logo {
    height: 50px;
    width: auto;
  }

  header {
    margin: 0 1.5em 0 0.5em;
  }

  header, .container {
    max-width: 100%;
  }

  .container img {
    max-width: 100%;
  }

  /* Applies to project section */
  .container-gallery {
    margin: 1.5em 0 0 0;
  }

  /* Aligns portfolio header text flush left of portfolio rows */
  .project-header {
    /* Increased width by 20px */
    width: 320px;
    margin: 10px auto 0 auto;
  }

  /* Div containing single project's title, image, text */
  .project {
    width: 320px;
    height: auto;
    margin: 0 auto 1.2em;
  }

  .project-image {
    width: 300px;
    height: auto;
  }
}
